  body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }

  .joinChatContainer input {
    width: 210px;
    height: 40px;
    margin: 7px;
    border: 2px solid #43a047;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
  }
  
  .joinChatContainer button {
    width: 225px;
    height: 50px;
    margin: 7px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    background: #43a047;
    color: #fff;
    cursor: pointer;
  }
  
  .joinChatContainer button:hover {
    background: #2e7d32;
  }

  /* */
  /*.app {
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    background: #fff;
    color: #212121;
    font-family: "Open Sans", sans-serif;
    display: grid;
    place-items: center;
    position: relative;
    margin: 0 auto;
    border: 5px solid red;
  }

.live_chat {
  width: 300px;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 5rem;
  background: #fff;
  border: 1px solid grey;
}

.live_chat_choose {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 10rem;
  transform: translate(-50%, -50%);
}

.live_chat_choose h3 {
  text-align: center;
}

.live_chat_choose input {
  display: block;
  width: 90%;
  margibn: 0 auto;
  margin-bottom: 1.5rem;
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.live_chat_choose button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  width: 4rem;
  padding: 0.3rem;
  width: 10rem;
  background: green;
font-size: 1.2rem;
border-radius: 0.3rem;
border: none;
color: #fff;
transition: all 0.7s ease;
}

.live_chat_choose button:hover {
  background: lightgreen;
  color: black;
}
.chat{
  width: 100%;
  height: 70vh;
  background: red;
}*/


  
